<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="header__logo">
                <a href="./index.html"><img src="img/logo.png" alt="" /></a>
            </div>
        </div>
        <div class="col-lg-6">
            <nav class="header__menu">
                <ul>
                    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a routerLink="/">Home</a>
                    </li>
                    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a
                            routerLink="/shop">Shop</a></li>
                    <li><a>Pages</a>
                        <ul class="header__menu__dropdown">
                            <li><a routerLink="/shop-details">Shop Details</a></li>
                            <li><a routerLink="/shopping-cart">Shoping Cart</a></li>
                            <li><a routerLink="/checkout">Check Out</a></li>
                            <li><a routerLink="/blog-details">Blog Details</a></li>
                        </ul>
                    </li>
                    <li><a routerLink="/blog">Blog </a></li>
                    <li><a routerLink="/contact">Contact </a></li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3">
            <div class="header__cart">
                <ul>
                    <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                    <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                </ul>
                <div class="header__cart__price">item: <span>$150.00</span></div>
            </div>
        </div>
    </div>
    <div class="humberger__open">
        <i class="fa fa-bars"></i>
    </div>
</div>