<div class="container" style="padding-bottom:30px">
    <div class="row">
        <div class="col-lg-3">
            <div class="hero__categories">
                <div class="hero__categories__all" (click)="toggleList('departments')">
                    <i class="fa fa-bars"></i>
                    <span>All departments</span>
                </div>
                <ul [@toggleList]="isOpen['departments'] ? 'open' : 'closed'" class="list__categories">
                    @for(dep of departments$ | async ; track dep) {
                    <li><a href="#">{{dep.departmentName}}</a></li>
                    }

                </ul>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="">
                <div class="hero__search__form">
                    <form action="#">
                        <div class="hero__search__categories dropdown-wrapper" (click)="toggleList('categories')"
                            (appClickOutside)="closeList('categories')">
                            <div>
                                {{ selectedCategory }}
                                <span class="arrow_carrot-down"></span>
                            </div>
                            <ul [@toggleList]="isOpen['categories'] ? 'open' : 'closed'" class="list__cat">
                                <li (click)="selectCategory('All Categories', $event)"
                                    [class.selected]="selectedCategory === 'All Categories'">
                                    <a href="#">All Categories</a>
                                </li>
                                @for(cat of categories$ | async ; track cat) {
                                <li
                                    (click)="selectCategory(cat.categoryName, $event)"
                                    [class.selected]="selectedCategory === cat.categoryName">
                                    <a href="#">{{cat.categoryName}}</a></li>
                                }
                            </ul>
                        </div>
                        <input type="text" placeholder="What do yo u need?">
                        <button type="submit" class="site-btn">SEARCH</button>
                    </form>


                </div>

                <div class="hero__search__phone">
                    <div class="hero__search__phone__icon">
                        <i class="fa fa-phone"></i>
                    </div>
                    <div class="hero__search__phone__text">
                        <h5>+65 11.188.888</h5>
                        <span>support 24/7 time</span>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>