.carousel {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
  padding-left: 50px;
  padding-right: 50px;

  .carousel-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left:2px;


    img {
      width: 200px;
      height: 200px;
      transition: transform 0.5s ease;
     
    }
  }

  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    cursor: pointer;
    z-index: 1;

    &:first-of-type {
      left: 10px;
    }

    &:last-of-type {
      right: 10px;
    }
  }
}


.slick-arrow {
  font-size: 2rem;
  color: black;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}



.custom-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  /* Adjust width as needed */
  height: 80px;
  /* Adjust height as needed */
  border: 1px solid #ddd;
  cursor: pointer;
  background-color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.custom-prev {
  left: 0px;
  /* Adjust positioning as needed */
}

.custom-next {
  right: 1px;
  /* Adjust positioning as needed */
}

.custom-arrow span {
  font-size: 1.5rem;
  /* Adjust size as needed */
  color: #333;
}

.custom-arrow:hover {
  background-color: #f0f0f0;
  /* Optional hover effect */
}